
body {
  margin: 0;
}
/* header */
.top-header {
  background-color: #276246;
  color: white;
  font-size: 0.9em;
  padding: 0px 40px;
}
.top-header > div {
  padding: 10px;
}
.top-header > div > a {
  color: #fff39d;
  font-weight: 700px;
}
#login_link {
  color: white;
  background-color: #3d7259;
  font-weight: 700px;
  padding: 10px;
}
.nav-bar {
  padding: 10px;
}
.flex-container {
  display: flex;
}
.flex-container.top-header {
  justify-content: space-between;
}

.flex-container.nav-bar {
  justify-content: space-between;
  align-items: stretch;
}

.dropbtn {
  background-color: white;
  color: #505153;
  padding: 16px;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #276246;
  min-width: 200px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #276246;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #276246;
  color: white;
}
.circle_icon {
  border-radius: 50%;
  margin: auto 20px;
}
.search {
  padding: 20px;
  border-radius: 50px;
  border: 0px;
  margin: 0px;
  background-color: #f5f4ea;
}
.service_links {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: #f5f4ea;
}

.service_links > div > a {
  color: #6d6d6a;
}
a {
  text-decoration: none;
}
.notification {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 50%;
}
.notification > div {
  background-color: #fffef3;
}
.notification .list_item {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}
.calander {
  width: 50%;
  flex-grow: 1;
}
.list_item > div {
  border-left: 4px solid green;
  padding-left: 10px;
}
.footer {
  color: white;
  background-image: url("images/footer_background.jpeg");
}
.footer-content {
  padding: 3em 5em;

  justify-content: space-around;
  background-color: rgba(26, 80, 54, 0.9);
  z-index: 5;
}

.footer-content > div a {
  color: white;
}
.footer-bottom-link {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
